Flask
spacy
nltk
pandas
psycopg2-binary # Or just psycopg2 if you want to compile it yourself and have dev headers

en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz